.streamPreviewContainer {
  width: 1280px;
  height: 720px;
  display: flex;
  place-items: center;
  /*border-radius: var(--radius);*/
  background-color: var(--color-bg-alt);
  overflow: hidden;
}

.streamPreview {
  overflow: hidden;
  width: 1280px;
  height: 720px;
  position: relative;
}

.streamPreviewVideo {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  width: 1280px;
  height: 720px;
}

.needPermissions {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-alt);
}